<template>
  <body class="min-h-screen bg-gradient-to-b from-[#962AB0] to-black">
    <div class="lg:flex">
      <div class="root">
        <div id="logo" class="flexLogos">
          <div>
            <img src="../Img/SignUp/logo.png" class="mr-3" />
          </div>
          <div>
            <img src="../Img/SignUp/logo2.png" class="mb-5" />
            <img src="../Img/SignUp/logo3.png" />
          </div>
        </div>
        <div class="flexRadioButton">
          <div>
            <label class="label">Tipo de persona</label>
          </div>
          <div>
            <input
              type="radio"
              id="natural"
              value="natural"
              v-model="picked"
              checked="checked"
            />

            <label for="natural" class="label">Natural</label>
          </div>
          <div>
            <input
              type="radio"
              id="juridica"
              value="juridica"
              v-model="picked"
              class="bg-white/50"
            />
            <label for="juridica" class="label">Jurídica</label>
          </div>
        </div>
        <div>
          <div v-if="picked === 'natural'"><Natural /></div>
          <div v-else-if="picked === 'juridica'"><Juridica /></div>
        </div>

        <div id="button">
          <button class="button">Registrar</button>
        </div>
        <div id="appsLogin" class="marginApps">
          <div class="flexH">
            <hr class="line" />
            <label class="labelRRSS">Logueate con RRSS</label>
            <hr class="line" />
          </div>

          <div></div>
        </div>
        <div class="flexCenterHor">
          <label class="labelSpacing">¿Ya estás registrado?</label>
          <router-link to="/" class="labelPurpleSpacing">Acceder</router-link>
        </div>
      </div>
      <div
        class="lg:w-2/4 lg:flex lg:items-center lg:justify-center lg:bg-[#3E1149] min-h-screen"
      >
        <div class="invisible lg:visible">
          <CharacterSelector />
        </div>
      </div>
    </div>
  </body>
</template>

<script>
import "../style.css";
import Natural from "./Natural/index.vue";
import Juridica from "./Juridica/index.vue";
import CharacterSelector from "../CharacterSelector/index.vue";
export default {
  data() {
    return {
      picked: "natural",
    };
  },
  components: {
    Natural,
    Juridica,
    CharacterSelector,
  },
};
</script>
