<template>
 
    <div>
      <div id="itemTextFields">
        <div class="mb-4">
          <label class="label">Nombre</label><br />
          <input class="inputText" />
        </div>
        <div class="mb-4">
          <label class="label">Apellido</label><br />
          <input class="inputText" />
        </div>
        <div class="mb-4">
          <label class="label">Teléfono</label><br />
          <input class="inputText" />
        </div>
        <div class="mb-4">
          <label class="label">Número de Identificación</label><br />
          <input class="inputText" />
        </div>
         <div class="mb-4">
          <label class="label">Email</label><br />
          <input class="inputText" type="email" placeholder="usuario@yabu.com"/>
        </div>
        <div class="mb-4">
          <label class="label">Contraseña</label><br />
          <input type="password" class="inputText" placeholder="• • • • • • •" />
        </div>
        <div class="mb-4">
          <label class="label">Confirmar contraseña</label><br />
          <input type="password" class="inputText" placeholder="• • • • • • •" />
        </div>
      </div>
    </div>
  
</template>
<script>
import "../../style.css";
export default {};
</script>
