<template>
  <div class="flex items-center justify-evenly mt-10">
    <div><img src="../Img/SocialNetwork/iglogo.png" /></div>
    <div><img src="../Img/SocialNetwork/twitterlogo.png" /></div>
    <div><img src="../Img/SocialNetwork/fblogo.png" /></div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
