<template>
  <div>
       <div class="relative overflow-hidden w-full">
        <div
          v-for="(img, i) in images"
          :id="`slide-${i}`"
          :key="i"
          :class="`${active === i ? 'active' : 'left-full'}`"
          class="carousel-item inset-0 relative w-full transform transition-all duration-500 ease-in-out"
        >
         <img class="block " :src="img" alt="First slide" />
        </div>
      </div>
      <div class="text-center">
        <label class="text-white font-thin ">Ver ánime en línea en HD, subtitulado o doblado,</label> <br>
        <label class="text-white font-thin ">en tu celular o computadora.</label><br>
        <label class="text-white font-thin ">¡Animebayu, tu portal de ánime en línea!</label>

      </div>
    <div>
        <ol class="flex justify-center items-center mt-10">
          <li
            v-for="(img, i) in images"
            :key="i"
            class="md:w-8 md:h-1 bg-gray-300 rounded-full mx-2"
          ></li>
        </ol>
    </div>
    
  </div>
</template>

<script>
import img1 from "../Img/CharacterSelector/Yabu/YabuL.png";
import img2 from "../Img/CharacterSelector/Kyojuro/kyojuro.png";
import img3 from "../Img/CharacterSelector/Inosuke/InosukeL.png";

export default {
  data: () => ({
    images: [img1, img2, img3],
    
    active: 0,
  }),
  mounted() {
    let i = 0;
    setInterval(() => {
      if (i > this.images.length - 1) {
        i = 0;
      }
      this.active = i;
      i++;
    }, 4000);
  },
};
</script>

<style>
.left-full {
  left: -100%;
  
}

.carousel-item {
  float: left;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
}

.carousel-item.active {
  left: 0;
}
</style>
