<template>
  <div>
      <div><label class="labelBold">Crear categoría</label></div>
    <label class="label">Nombre de Categoría</label><br>
    <input class="inputText" />
    <div class="my-10">
        <button class="buttonsDashboard">Crear</button>
    </div>
  </div>
</template>

<script>
import "../../style.css";
export default {};
</script>
