@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .root {
        @apply p-3 lg:w-2/4 lg:px-28 lg:py-10 xl:px-40 xl:py-16  2xl:px-64 2xl:py-20 lg:bg-black min-h-screen
    }

    .body {
      @apply  min-h-screen bg-gradient-to-b from-[#962ab0] to-black
    }    

    .inputText {
        @apply border-white border-2 bg-white/50 rounded-lg font-thin text-white px-4 py-4 outline-0 w-full placeholder:text-white/50;
    }

    .labelPurple {
        @apply text-[#E487FB] font-thin

    }

    .label {
        @apply text-white font-thin 
    }

    .flexEnd {
        @apply flex justify-end my-5
    }

    .flexCenter {
        @apply flex  justify-center items-center flex-col p-3
    }
    .flexCenterHor {
        @apply flex  justify-center   p-3
    }

    .logo {
        @apply w-28
    }

    .logoText {
        @apply w-36
    }

    .logoText2 {
        @apply w-28 
    }

    .button {
        @apply bg-fuchsia-400 w-full rounded-lg p-4 font-semibold
    }

    .labelPurpleSpacing {
        @apply text-[#E487FB] font-thin tracking-[0.065em]

    }

    .labelSpacing {
        @apply text-white font-thin mb-10 tracking-[0.065em] mr-2
    }

    .flexH {
        @apply flex items-center justify-evenly
    }

    .flexRadioButton {
        @apply flex items-center justify-evenly mb-8
    }

    .flexLogos {
        @apply flex items-center justify-center my-10
    }

    .labelRRSS {
        @apply text-white font-thin 
    }

    .line{
        @apply border border-white w-20
    }

    .marginApps {
        @apply my-8
    }


    .lateralMenu {
        @apply w-1/4 bg-[#3E1149] min-h-screen flex items-start flex-col
    }

    .dashboard {
        @apply w-3/4 bg-black min-h-screen
    }

    .dashboardItems {
        @apply w-2/4 mx-10 my-10
    }

    .labelBold {
        @apply font-bold text-white text-lg 
    }

    .buttonsDashboard {
        @apply bg-fuchsia-400 w-full rounded-lg p-5  mb-8 text-[#3E1149] font-bold text-base
    }

    .spacingLabelCat {
         @apply my-10
    }



    

    
    



}