<template>
  <div class="flex">
    <div class="lateralMenu">
      <div class="mx-10 my-10">
        <div class="flex justify-start">
          <img src="../Img/animeyabuLogo.png" class="w-[150%]" />
        </div>
        <div class="spacingLabelCat">
          <label class="labelBold">Categorías</label>
        </div>
        <div>
          <ul>
            <li class="label">Ver todas</li>
            <li class="label">Crear</li>
          </ul>
        </div>
        <div class="spacingLabelCat">
          <label class="labelBold">Cerrar Sesión</label>
        </div>
      </div>
    </div>
    <div class="dashboard">
      <div class="dashboardItems">
        <div class="mb-8">
          <label class="label">Selecciona una opción</label>
        </div>
        <div>
          <button class="buttonsDashboard">Ver todas las categorías</button>
          <button class="buttonsDashboard">Crear categorías</button>
          <button class="buttonsDashboard">Cerrar Sesión</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "../style.css";
export default {
  data() {
    return {
      options: "natural",
    };
  },
};
</script>
