<template>
  <body class="body">
    <div class="lg:flex">
      <div class="root">
        <div class="flex justify-start left-0.5 bg-transparent">
          <img src="../Img/animeyabuLogo.png" />
        </div>

        <div id="logo" class="flexCenter">
          <img src="../Img/logo.png" />
          <img src="../Img/logo3.png" class="mt-4" />
          <img src="../Img/logo2.png" class="mt-5" />
        </div>
        <form v-on:submit.prevent="login">
          <div id="itemTextFields">
            <div class="mb-4">
              <label class="label">Email</label><br />
              <input
                type="email"
                class="inputText"
                placeholder="Email"
                required
                v-model="username"
              />
            </div>
            <div class="mb-4">
              <label class="label">Contraseña</label><br />
              <input
                type="password"
                class="inputText"
                placeholder="• • • • • • •"
                v-model="password"
                required
              />
              <div class="flexEnd">
                <label class="labelPurple">¿Olvidó la contraseña?</label>
              </div>
            </div>
          </div>

          <div id="button">
            <button class="button" @click="doLogin">Acceder</button>
            >
          </div>
        </form>

        <div id="appsLogin" class="marginApps">
          <div class="flexH">
            <hr class="line" />
            <label class="labelRRSS">Logueate con RRSS</label>
            <hr class="line" />
          </div>

          <div><SocialNetwork/></div>
        </div>
        <div class="flexCenterHor">
          <label class="labelSpacing">¿Quieres registrarte?</label>
          <router-link to="/signUp" class="labelPurpleSpacing"
            >Registrate</router-link
          >
        </div>
      </div>
      <div
        class="lg:w-2/4 lg:flex lg:items-center lg:justify-center lg:bg-[#3E1149] min-h-screen"
      >
        <div class="invisible lg:visible">
          <CharacterSelector />
        </div>
      </div>
    </div>
  </body>
</template>

<script>
import "../style.css";
import CharacterSelector from "../CharacterSelector/index.vue";
import SocialNetwork from '../SocialNetorkLogin/index.vue';
import { mapActions } from "vuex";
export default {
  name: "Login",
  components: {
    CharacterSelector,
    SocialNetwork,
  },
  data: () => ({
    username: "",
    password: "",
  }),

  methods: {
    ...mapActions("login", {
      login: "login",
    }),
    reset() {
      this.$refs.form.reset();
    },
    doLogin() {
      const { username, password } = this;
      if (this.username != "" && this.password != "") {
        this.login({ username, password });
      } else {
        this.$swal({
          title: 'Error',
          text: 'Faltan campos por llenar',
          icon: 'error',
          confirmButtonText: 'Aceptar'
        })
      }
    },
  },
};
</script>

<style></style>
