<script setup>
import HelloWorld from './components/HelloWorld.vue'
import TheWelcome from './components/TheWelcome.vue'

import Login from './components/Login/index.vue'
</script>

<template>
<router-view></router-view>
 
  
</template>


